@model DetailsDto
@{
    ViewData["Title"] = Model.Current.Nome;
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                @if (Model.Prior != null)
                {
                    <a asp-action="Details" asp-route-Name="@Model.Prior.Nome" class="btn btn-lg btn-outline-dark">
                        @Model.Prior.Nome
                    </a>
                }
            </div>
            <div class="col text-center">
                <h1 class="fs-1 text-dark">@Model.Current.Nome</h1>
            </div>
            <div class="col text-center">
                @if (Model.Next != null)
                {
                    <a asp-action="Details" asp-route-Name="@Model.Next.Nome" class="btn btn-lg btn-outline-dark">
                        @Model.Next.Nome
                    </a>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-9 fs-5 mt-4">
                <table class="table">
                    <tr>
                        <td class="fw-bold w-25">Cidade:</td>
                        <td>@Model.Current.Cidade</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Estado:</td>
                        <td>@Model.Current.Estado</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Descrição:</td>
                        <td>@Model.Current.Descricao</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Diária:</td>
                        <td>@Model.Current.Diaria</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>